*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body {
    height: 100%;
}

a:link, a:visited {
    color: black;
}

a:hover {
    transition: all .3s;
    color: #0099ff;
}

/* CSS for the list.php */
.main {
    min-height: 100%;
    margin-bottom: -142px;
    margin: 100px 100px 30px 100px;
}
.main:after {
    content: "";
    display: block;
}

.article {
    padding: 20px 10px 20px 10px;
}

.date {
    font-size: 14px;
    color: #696969;
    font-weight: 100;
    font-style: italic;
    padding-left: 10px;
}

.post {
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #dcdcdc;
    color: #666;
}

p {
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    font-family: Georgia;
}

h2 {
    font-size: 2rem;
    font-family: Arial;
}

/* CSS for register.php and login.php */

.container {
    box-sizing: border-box;
    padding: 100px;
    margin: 20px 400px 20px 400px;
}

.title {
    padding: 10px 0px;
    text-align: center;
}
label {
    font-family: Georgia;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0px 20px 0px;
    border-radius: 5px;
    font-family: Georgia;
    font-size: 15px;
}

input:focus {
    background-color: ghostwhite;
    outline: none;
}

.btn {
    font-size: 20px;
    background-color: #e6e6e6;
    padding: 15px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.wrong {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    list-style: none;
    color: darkred;
    border: darkred;
    background-color: lightcoral;
}

.btn:hover {
    background-color: #999999;
    transition: all .3s;
}

.options {
    text-align: center;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* CSS for profile.php */

.image {
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 5%;
}

/* CSS for header.php */

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color:black;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

a:hover li {
    transition: all .3s;
    color: rgb(216, 214, 214);
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 25px 5px;
}

/* CSS for footer.php */


.footer, .main:after {
    height: 142px;
}

.footer {
    background: black;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.inner_footer {
    display: black;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.logo_container_footer h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: 200;
}